<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base-css">
<!-- 	<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css"/> -->
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div th:include="header"></div>
	<div th:include="left-side"></div>
	<div class="container-fluid content-wrapper">
		<div class="">
				<h3 th:text="${title}" ></h3>

			<div class="row">
				<div class="col-md-5">
					<div>
						<span>
				 			<button class="btn btn-primary btn-flat pull-right" data-toggle="modal" data-target="#newCategoryModal"> <i class="fa fa-plus-circle"></i> Create New Category</button>
						</span>
						<span>
		 					<span class="form-group has-error">
	       						<h6 class="control-label box-title message has-error" for="inputError" id="catMsgId"></h6>
		       				</span>
		 				</span>
					</div>
					<div class="box cat-max-height">
						<table id="categoryTable" class="table table-striped">
						 	<thead>
		                      <tr>
								<th align="center"> Icon </th>
		                        <th>Category Name</th>
		                        <!--<th>Description</th>-->
		                        <th align="right">Action</th>
		                      </tr>
		                    </thead>
		                    <tbody>
		                    	<tr th:each="category : ${categories}">
									<td  class="success" align="center" >
										<img src="" style="width: 30px; height: 30px;" th:src="${category.imgUrl}" th:alt="${category.name}" alt="Image Not Available" />
									</td>
		                    		<td th:text="${category.name}"></td>
		                    		<!--<td th:text="${category.description}"></td>-->
		                    		<td align="right">
		                    			<button title="Delete" class="btn btn-xs btn-danger btn-flat" th:onclick="'Category.deleteCategory('+${category.id}+')'"><i class="fa fa-fw fa-trash"></i>Delete</button>
										<button title="Edit" class="btn btn-xs btn-primary btn-flat" data-toggle="modal" data-target="#newCategoryModal" th:onclick="'Category.findCategoryById('+${category.id}+')'"><i class="fa fa-fw fa-edit"></i>Edit</button>
		                    		</td>
		                    	</tr>
		                    </tbody>
						 </table>	
					</div>
				</div>
				<div class="col-md-7">
					<div>
		 				<span>
		 					<button class="btn btn-primary btn-flat pull-right" data-toggle="modal" data-target="#newSubCategoryModal"> <i class="fa fa-plus-circle"></i> Create New SubCategory</button>
		 				</span>
		 				<span>
		 					<span class="form-group has-error">
	       						<h6 class="control-label box-title message has-error" for="inputError" id="subcatMsgId"></h6>
		       				</span>
		 				</span>
					</div>
					
					<div class="box cat-max-height">
						<table id="subCategoryTable" class="table table-striped">
						 	<thead>
		                      <tr>
		                        <th>Sub Category Name</th>
		                       <!-- <th>Description</th>-->
		                        <th>Category Name</th>
		                         <th align="right">Action</th>
		                      </tr>
		                    </thead>
		                    <tbody>
		                    	<tr th:each="subcategory : ${subcategories}">
		                    		<td th:text="${subcategory.name}"></td>
		                    		<!--<td th:text="${subcategory.description}"></td>-->
		                    		<td th:text="${subcategory.category.name}"></td>
		                    		<td align="right">
		                    			<button title="Delete" class="btn btn-xs btn-danger btn-flat" th:onclick="'Category.deleteSubCategory('+${subcategory.id}+')'"><i class="fa fa-fw fa-trash"></i>Delete</button>
										<button title="Edit" class="btn btn-xs btn-primary btn-flat" data-toggle="modal" data-target="#newSubCategoryModal" th:onclick="'Category.findSubCategoryById('+${subcategory.id}+')'"><i class="fa fa-fw fa-edit"></i>Edit</button>
		                    		</td>
		                    	</tr>
		                    </tbody>
						 </table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="footer"></div>
	<div th:include="base-js"></div>
	<script src="scripts/services/category.js"></script>
	
	<!-- Edit user model start -->
	<div id="salesManagerEditModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit User</h4>
          </div>
          <div class="modal-body">
    		<p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left btn-flat" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-flat">Save changes</button>
          </div>
        </div>
      </div>
    </div>
	<!-- Edit user model end -->
	
	<!-- Create new category model start -->
	<div id="newCategoryModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create New Category</h4>
          </div>
          <form id="newCategoryForm" class="form-horizontal" action="javascript:void(0);" method="post" th:onsubmit="'Category.create(this);'">
          <div class="modal-body">
	        <div class="box-body">
	         <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
	            <div class="col-sm-10">
	              <input type="text" name="name" class="form-control" id="inputname" placeholder="Name"/>
	              <input type="hidden" name="id" class="form-control" id="inputid"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
	            <div class="col-sm-10">
	              <textarea name="description" class="form-control" id="inputDescription" placeholder="Description"></textarea>
	            </div>
	          </div>
				<div class="form-group" style="margin-right: 0px;">
					<label for="inputEmail3" class="col-sm-2 control-label" >Image</label>
					<div class="col-sm-10">
						<input type="file" name="categoryImage" id="categoryImage" class="form-control"/>
						<input type="hidden" name="imgUrl" class="form-control" id="inputImgUrl"/>
					</div>
				</div>
	        </div>
          </div>
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="successMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="errorMsg"></label>
            </span>
            <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-flat">Save</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!-- Create new category model end -->
	
	<!-- Create new sub category model start -->
	<div id="newSubCategoryModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Sub Category</h4>
          </div>
          <form id="newSubCategoryForm" class="form-horizontal" action="javascript:void(0);" method="post" th:onsubmit="'Category.createSubCategory(this);'">
          <div class="modal-body">
	        <div class="box-body">
	         <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
	            <div class="col-sm-10">
	              <input type="hidden" name="id" class="form-control" id="inputSubcatId" placeholder="Name"/>
	              <input type="text" name="name" class="form-control" id="inputSubcatName" placeholder="Name"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
	            <div class="col-sm-10">
	              <textarea type="text" name="description" class="form-control" id="inputSubcatDescription" placeholder="Description"></textarea>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Category</label>
				<div class="col-sm-10">
	            	<select id="inputSubcatCategory" name="category" class="form-control" >
	            		<option value="">--- Select ---</option>
	            		<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
	            	</select>
	            </div>
	          </div>
	        </div>
          </div>
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="successMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="errorMsg"></label>
            </span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!-- Create new sub category model end -->
	
	
</body>
</html>