<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base-css">
</head>
<body>
	<div th:include="header"></div>
	<div th:include="left-side"></div>
	<div class="container-fluid content-wrapper">
		<div class="row">
			<section class="content">
				<div class="row">
					<div class="col-lg-3 col-xs-6" th:each="detail : ${details}">
						<div th:classappend="${detail.colorName}" class="small-box">
							<div class="inner">
								<h3 th:text="${detail.count}"></h3>
								<p th:text="${detail.name}"></p>
							</div>
							<div class="icon">
								<i th:classappend="${detail.iconName}"></i>
							</div>
							<a th:href="${detail.landingPath}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
			</section>	
		</div>
	</div>
	<div th:include="footer"></div>
	<div th:include="base-js"></div>
</body>
</html>