<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base-css"></head>
<body>
	<div th:include="header"></div>
	<div th:include="left-side"></div>
	<div class="container-fluid content-wrapper">
		<div class="">

				<h3 th:text="${title}" ></h3>

			<div>
<!-- 				 <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#planModal">Create New</button> -->
			</div>
			<div class="box">
				 <table id="userTable" class="table table-striped">
				 	<thead>
                      <tr>
<!--                         <th>Created Date</th> -->
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Plan Type</th>
                        <th align="right">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr th:each="plan : ${plans}">
<!--                     		<td th:text="${plan.createdDate}"></td> -->
                    		<td th:text="${plan.name}"></td>
                    		<td><i class="fa fa-rupee"></i><span th:text="${plan.amount}"></span></td>
                    		<td th:text="${plan.description}"></td>
                    		<td th:text="${plan.planType}"></td>
                    		<td align="right">
<!--                     			<button title="Delete" class="btn btn-xs btn-danger" th:onclick="'Plan.deletePlan('+${plan.id}+')'"><i class="fa fa-fw fa-trash"></i>Delete</button> -->
								<button title="Edit" class="btn btn-xs btn-primary btn-flat" data-toggle="modal" data-target="#planUpdateModal" th:onclick="'Plan.findPlan('+${plan.id}+')'"><i class="fa fa-fw fa-edit"></i> Edit</button>
<!-- 								<button title="Assign to User" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#assignToModal" th:onclick="'Plan.findAllFranchise('+${plan.id}+')'"><i class="fa fa-fw fa-user"></i>Assign To Merchant</button> -->
                    		</td>
                    	</tr>
                    </tbody>
				 </table>
			</div>
		</div>
	</div>
	<div th:include="footer"></div>
	<div th:include="base-js"></div>
	<script src="scripts/services/plan.js"></script>
	
	<!-- Assign plan to user model start -->
	<div id="assignToModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Assign Selected Plan to Merchant</h4>
          </div>
          <div class="modal-body">
          <input type="hidden" name="planId" id="planId"/>
	 	  	<select id="inputAssignPlan" name="assignPlan" class="form-control">
    	  		
    	  	</select>
          </div>
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="assignSuccessMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="assignErrorMsg"></label>
            </span>
            <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-flat" onclick="Plan.assignPlanToUser($('#inputAssignPlan').val(), $('#planId').val())">Assign</button>
          </div>
        </div>
      </div>
    </div>
	<!-- Assign plan to user model end -->
	
	<!-- Create new sales model start -->
	<div id="planModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalTitle">Create New Plan</h4>
          </div>
          <form id="newPlanform" class="form-horizontal" action="javascript:void(0);" method="post" th:onsubmit="'Plan.create(this);'">
          <div class="modal-body">
	        <div class="box-body">
	         <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
	            <div class="col-sm-10">
	              <input type="text" name="name" class="form-control" id="inputname" placeholder="Name"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>
	            <div class="col-sm-10">
	              <input type="number" name="amount" class="form-control" id="inputamount" placeholder="Amount"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
	            <div class="col-sm-10">
	              <textarea type="text" name="description" class="form-control" id="inputdescription" placeholder="Description"></textarea>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Plan Type</label>
	            <div class="col-sm-10">
	            	<select id="inputPlanType" name="planType" class="form-control">
	            		<option value="">--- Select ---</option>
	            		<option th:each="planType : ${planTypes}" th:value="${planType}" th:text="${planType}"></option>
	            	</select>
	            </div>
	          </div>
	        </div>
          </div>
          
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="successMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="errorMsg"></label>
            </span>
            <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-flat" id="modalSubmitBtn">Save</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!-- Create new sales model end -->
	
	<!-- Create new sales model start -->
	<div id="planUpdateModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalTitle">Update Plan</h4>
          </div>
          <form id="updatePlanform" class="form-horizontal" action="javascript:void(0);" method="post" th:onsubmit="'Plan.update(this);'">
          <div class="modal-body">
	        <div class="box-body">
	         <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
	            <div class="col-sm-10">
	              <input type="text" name="name" class="form-control" id="editname" placeholder="Name"/>
	              <input type="hidden" name="id" class="form-control" id="editid" placeholder="Name"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>
	            <div class="col-sm-10">
	              <input type="number" name="amount" class="form-control" id="editamount" placeholder="Amount"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
	            <div class="col-sm-10">
	              <textarea type="text" name="description" class="form-control" id="editdescription" placeholder="Description"></textarea>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Plan Type</label>
	            <div class="col-sm-10">
	            	<select id="editPlanType" name="planType" class="form-control" >
	            		<option value="">--- Select ---</option>
	            		<option th:each="planType : ${planTypes}" th:value="${planType}" th:text="${planType}"></option>
	            	</select>
	            </div>
	          </div>
	        </div>
          </div>
          
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="editSuccessMsg"  style="padding-left: 50%;"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="editErrorMsg"  style="padding-left: 50%;"></label>
            </span>
            <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-flat" id="modalSubmitBtn">Update</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!-- Create new sales model end -->
	
</body>
</html>