<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base-css"></head>
<body>
	<div th:include="header"></div>
	<div th:include="left-side"></div>
	<div class="container-fluid content-wrapper">
		<div class="">

				<h3 th:text="${title}" ></h3>

			<div class="box" style="max-height: 740px; overflow-y: scroll;">
				 <table id="userTable" class="table table-striped">
				 	<thead>
                      <tr>
                      	<th>User Name</th>
                      	<th>User Mobile</th>
                        <th>Plan Type</th>
                        <th>Percentage</th>
                        <th>Validity In Months</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Plan Start Date</th>
                        <th>Plan End Date</th>
                        <th align="right">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr th:each="publicUserPlan : ${publicUserPlans}">
                    		<td th:text="${publicUserPlan.user.name}"></td>
                    		<td th:text="${publicUserPlan.user.mobile}"></td>
                    		<td th:text="${publicUserPlan.planType}"></td>
                    		<td th:text="${publicUserPlan.percentage}"></td>
                    		<td th:text="${publicUserPlan.validityInMonths}"></td>
                    		<td><i class="fa fa-rupee"></i><span th:text="${publicUserPlan.amount}"></span></td>
                    		<td th:text="${publicUserPlan.description}"></td>
                    		<td th:text="${publicUserPlan.startDate}"></td>
                    		<td th:text="${publicUserPlan.endDate}"></td>
                    		<td align="right">
                    			<button title="Delete" class="btn btn-xs btn-danger btn-flat" th:onclick="'Plan.deletePlan('+${publicUserPlan.id}+')'"><i class="fa fa-fw fa-trash"></i>Delete</button>
								<button title="Edit" class="btn btn-xs btn-primary btn-flat" data-toggle="modal" data-target="#planUpdateModal" th:onclick="'PublicUserPlan.findPlan('+${publicUserPlan.id}+')'"><i class="fa fa-fw fa-edit"></i>Edit</button>
                    		</td>
                    	</tr>
                    </tbody>
				 </table>
			</div>
		</div>
	</div>
	<div th:include="footer"></div>
	<div th:include="base-js"></div>
	<script src="scripts/services/publicuserplan.js"></script>
	
	<!-- Create new sales model start -->
	<div id="planUpdateModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalTitle">Create New Plan</h4>
          </div>
          <form id="updatePublicUserPlan" class="form-horizontal" action="javascript:void(0);" method="post" th:onsubmit="'PublicUserPlan.update(this);'">
          <div class="modal-body">
	        <div class="box-body">
	          <div class="form-group">
	          	<input type="hidden" id="publicPlanId" name="id"/>
	            <label for="planType" class="col-sm-2 control-label">Plan Type</label>
	            <div class="col-sm-10">
	            	<select name="planType" id="planType" class="form-control">
	            		<option value="">--Select--</option>
	            		<option value="TRIAL">TRIAL</option>
	            	</select>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Percentage</label>
	            <div class="col-sm-10">
	              <input type="text" name="percentage" class="form-control" id="inputPercentage" placeholder="Name"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Validity In Months</label>
	            <div class="col-sm-10">
	              <input type="text" name="inputValidityInMonths" class="form-control" id="inputValidityInMonths" placeholder="Name"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Amount</label>
	            <div class="col-sm-10">
	              <input type="number" name="amount" class="form-control" id="inputAmount" placeholder="Amount"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
	            <div class="col-sm-10">
	              <textarea type="text" name="description" class="form-control" id="inputDescription" placeholder="Description"></textarea>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Plan Start Date</label>
	            <div class="col-sm-10">
	            	<input type="text" name="startDate" id="startDate" class="form-control"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Plan End Date</label>
	            <div class="col-sm-10">
	            	<input type="text" name="endDate" id="endDate" class="form-control"/>
	            </div>
	          </div>
	        </div>
          </div>
          
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="successMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="errorMsg"></label>
            </span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="modalSubmitBtn">Save</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!-- Create new sales model end -->
</body>
</html>