<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base-css">
<!-- 	<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css"/> -->
</head>
<body>
	<div th:include="header"></div>
	<div th:include="left-side"></div>
	<div class="container-fluid content-wrapper">
		<div class="">

				<h3 th:text="${title}" ></h3>

			<div>
				<span>
					<button class="btn btn-primary btn-flat pull-right" data-toggle="modal" data-target="#salesManagerRegisterModal"> <i class="fa fa-plus-circle"></i> Create New </button>
				</span>
				<span class="form-group has-error pull-left">
              		<label class="control-label" for="inputError" id="errorMsg"></label>
	            </span>
			</div>
			<div class="box">
				 <table id="userTable" class="table table-striped">
				 	<thead>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th align="right">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr th:each="salesManager : ${salesManagers}">
                    		<td th:text="${salesManager.name}"></td>
                    		<td th:text="${salesManager.email}"></td>
                    		<td th:text="${salesManager.mobile}"></td>
                    		<td align="right">
                    			<button title="Delete" class="btn btn-xs btn-danger btn-flat" th:onclick="'SalesManager.deleteSalesManager('+${salesManager.id}+')'"><i class="fa fa-fw fa-trash"></i> Delete</button>
								<button title="Edit" class="btn btn-xs btn-primary btn-flat" data-toggle="modal" data-target="#salesManagerRegisterModal" th:onclick="'SalesManager.findSalesManager('+${salesManager.id}+')'"><i class="fa fa-fw fa-edit"></i> Edit</button>
                    		</td>
                    	</tr>
                    </tbody>
				 </table>
			</div>
		</div>
	</div>
	<div th:include="footer"></div>
	<div th:include="base-js"></div>
	<script src="scripts/services/salesmanager.js"></script>
	
	<!-- Create new salesmanager model start -->
	<div id="salesManagerRegisterModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create SalesManager</h4>
          </div>
          <form id="salesManagerRegisterForm" class="form-horizontal" action="javascript:void(0);" method="post" onload="salesManagerRegisterForm.reset();">
          <div class="modal-body">
	        <div class="box-body">
	         <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
	            <div class="col-sm-10">
	              <input type="text" name="name" class="form-control" id="inputname" placeholder="Name"/>
	              <input type="hidden" name="id" class="form-control" id="editManagerId"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	            <div class="col-sm-10">
	              <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Mobile</label>
	            <div class="col-sm-10">
	              <input type="text" name="mobile" class="form-control" id="inputMobile" placeholder="Mobile"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	            <div class="col-sm-10">
	              <input type="text" name="password" class="form-control" id="inputPassword" placeholder="Password"/>
	            </div>
	          </div>
	        </div>
          </div>
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="successMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="errorMsg"></label>
            </span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!-- Create new salesmanager model end -->
</body>
</html>