<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base-css">
<!-- 	<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css"/> -->
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div th:include="header"></div>
	<div th:include="left-side"></div>
	<div class="container-fluid content-wrapper">
		<div class="">

				<h3 th:text="${title}" ></h3>

			<div>
				 <button class="btn btn-primary btn-flat pull-right" data-toggle="modal" data-target="#saleRegisterationModal"><i class="fa fa-plus-circle"></i> Create New</button>
			</div>
			<div class="box">
				 <table id="userTable" class="table table-striped">
				 	<thead>
                      <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>SalesManager Name</th>
                        <th align="right">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<tr th:each="salesman : ${salesmans}">
                    		<td th:text="${salesman.name}"></td>
                    		<td th:text="${salesman.email}"></td>
                    		<td th:text="${salesman.mobile}"></td>
                    		<td th:text="${salesman.salesManager} != null ? ${salesman.salesManager.name} : ''"></td>
                    		<td align="right">
                    			<button title="Delete" class="btn btn-xs btn-danger btn-flat" th:onclick="'Salesman.deleteSalesman('+${salesman.id}+')'"><i class="fa fa-fw fa-trash"></i>Delete</button>
								<button title="Edit" class="btn btn-xs btn-primary btn-flat" data-toggle="modal" data-target="#editModal" th:onclick="'Salesman.findSalesmanById('+${salesman.id}+')'"><i class="fa fa-fw fa-edit"></i>Edit</button>
                    		</td>
                    	</tr>
                    </tbody>
				 </table>
			</div>
		</div>
	</div>
	<div th:include="footer"></div>
	<div th:include="base-js"></div>
	<script src="scripts/services/salesman.js"></script>
	
	<!-- Edit user model start -->
	<div id="editModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Update Salesman Details</h4>
          </div>
          <form id="editSaleForm" class="form-horizontal" action="javascript:void(0);" method="post" th:onsubmit="'Salesman.update(this);'">
          <div class="modal-body">
	        <div class="box-body">
	         <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
	            <div class="col-sm-10">
	            	<input type="hidden" name="id" class="form-control" id="editId"/>
	              	<input type="text" name="name" class="form-control" id="editName" placeholder="Name"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	            <div class="col-sm-10">
	              <input type="email" name="email" class="form-control" id="editEmail" placeholder="Email"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Mobile</label>
	            <div class="col-sm-10">
	              <input type="text" name="mobile" class="form-control" id="editMobile" placeholder="Mobile"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Sales Manager</label>
	            <div class="col-sm-10">
	            	<select id="editSalesManager" name="salesManager" class="form-control" >
	            		<option value="">--- Select ---</option>
	            		<option th:each="salesManager : ${salesManagers}" th:value="${salesManager.id}" th:text="${salesManager.name}"></option>
	            	</select>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	            <div class="col-sm-10">
	              <input type="text" name="password" class="form-control" id="editPassword" placeholder="Password"/>
	            </div>
	          </div>
	        </div>
          </div>
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="successMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="errorMsg"></label>
            </span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!-- Edit user model end -->
	
	<!-- Create new sales model start -->
	<div id="saleRegisterationModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" th:text="${popupTitle}"></h4>
          </div>
          <form id="salesRegisterform" class="form-horizontal" action="javascript:void(0);" method="post" th:onsubmit="'Salesman.create(this);'">
          <div class="modal-body">
	        <div class="box-body">
	         <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
	            <div class="col-sm-10">
	              <input type="text" name="name" class="form-control" id="inputname" placeholder="Name"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	            <div class="col-sm-10">
	              <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Mobile</label>
	            <div class="col-sm-10">
	              <input type="text" name="mobile" class="form-control" id="inputMobile" placeholder="Mobile"/>
	              <input type="hidden" name="userType" class="form-control" id="userType" placeholder="UserType" value="PUBLIC"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Sales Manager</label>
	            <div class="col-sm-10">
	            	<select id="inputSalesManager" name="salesManager" class="form-control" >
	            		<option value="">--- Select ---</option>
	            		<option th:each="salesManager : ${salesManagers}" th:value="${salesManager.id}" th:text="${salesManager.name}"></option>
	            	</select>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	            <div class="col-sm-10">
	              <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password"/>
	            </div>
	          </div>
	        </div>
          </div>
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="successMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="errorMsg"></label>
            </span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!-- Create new sales model end -->
</body>
</html>