<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base-css">
</head>
<body>
	<div th:include="u-header"></div>
	<div th:include="u-left-side"></div>
	<div class="container-fluid content-wrapper">
		<div class="row">
			<section class="content">
				<div class="col-lg-12 col-xs-12">
					<h3>Advertisements</h3>
					<div class="row" style="margin-left: 0%; margin-right: 0%;">
					<input type="hidden" name="userId" id="userId" th:value="${userId}"/>
						<div>
							<span class="form-group has-error">
								<b><h5 class="control-label box-title message has-error" for="inputError"><b id="inputError" th:text="${message}"></b></h5></b>
							</span>
							<span class="form-group has-success">
								<b><h5 class="control-label box-title message has-success" for="inputSuccess"><b id="inputSuccess"></b></h5></b>
							</span>
						</div>
						<div th:if="${maxAdvCount} &gt; 0">
							<button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#advertisementModal">Create New</button>
						</div>
						<!-- <div th:if="${maxAdvCount} == 0">
							<span class="form-group has-error">
								<b><h5 class="control-label box-title message has-error" for="inputError"><b id="inputError" th:text="${message}"></b></h5></b>
							</span>
						</div> -->
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" th:each="deal : ${deals}">
						    <div class="hovereffect">
						    	<h4 th:text="${deal.name}"></h4>
						        <img class="img-responsive" th:src="${deal.imgUrl}" th:alt="${deal.name}" style="height: 210px;width: 100%;"/>
						        <input type="hidden" name="user_deal_id" th:id="${deal.id}+'_'+${deal.user.id}" th:value="${deal.user.id}"/>
						        <div class="col-lg-6 col-md-6">
							        <div class="overlay" th:onclick="'Deal.selectDefault('+${deal.id}+')'">
							        	<input type="radio" name="isDefault" class="minimal" th:checked="${deal.default}"/> Select as default
							        </div>
						        </div>
						        <div class="col-lg-3 col-md-3">
							        <div class="overlay has-error">
							        	<a th:href="@{'deleteDeal?id='+ ${deal.id} }" class="control-label"><i class="fa fa-trash-o"></i>Delete</a>
							        </div>
						        </div>
						        <div class="col-lg-3 col-md-3">
							        <div class="overlay has-success">
							        	<a href="#" data-toggle="modal" data-target="#advertisementModal" th:onclick="'Deal.findById('+${deal.id}+')'" class="control-label"><i class="fa fa-trash-o"></i>Edit</a>
							        </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:include="footer"></div>
	<div th:include="base-js"></div>
	<script type="text/javascript" src="scripts/services/deal.js"></script>
	
	<!--  Create Advertisement Modal START -->
	<div id="advertisementModal" class="modal">
     <div class="modal-dialog" style="width: 75%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalTitle">Create New Advertisement</h4>
          </div>
          <form id="newAdvertisementform" class="form-horizontal" action="createDeal" method="post" enctype="multipart/form-data">
          <div class="modal-body">
	        <div class="box-body">
	        	<div>
		        	<div class="form-group" th:if="${maxAdvCount} &gt; 0">
		         		<input type="hidden" name="id" id="advId"/>
			            <label for="inputEmail3" class="col-sm-2 control-label">Category</label>
			            <div class="col-sm-10">
			            	<select id="inputCategory" name="category" class="form-control" onchange="App.findAllSubCateByState($('#inputCategory').val()); Deal.onChangeCat()">
			            		<option value="">--- Select ---</option>
			            		<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
		            		</select>
		            	</div>
		          	</div>
		          	<div class="form-group" th:if="${maxAdvCount} &gt; 0">
		            	<label for="inputEmail3" class="col-sm-2 control-label">Sub Category</label>
		            	<div class="col-sm-10">
		            		<select id="inputSubCategory" name="subCategory" class="form-control" onchange="Deal.onChangeCat()">
			            		<option value="">--- Select ---</option>
		            		</select>
	            		</div>
          			</div>
          			<div style="max-height: 600px; overflow-y: scroll;" th:if="${maxAdvCount} &gt; 0">
		        		<div th:each="i : ${#numbers.sequence(1, maxAdvCount)}">
		          			<div class="form-group" style="margin-right: 0px;">
				            	<label for="inputEmail3" class="col-sm-2 control-label" th:text="'Caption '+${i}">Caption</label>
				            	<div class="col-sm-10">
				              		<input type="text" th:name="'description_'+${i}" class="form-control" id="inputdescription" placeholder="Description"/>
				            	</div>
			          		</div>
				           	<div class="form-group" style="margin-right: 0px;">
				            	<label for="inputEmail3" class="col-sm-2 control-label" th:text="'Image '+${i}">Image</label>
			       			 	<div class="col-sm-10">
				              		<input type="file" multiple="multiple" th:name="'file_'+${i}" id="file" class="form-control"/>
				              		<img alt="" src="" id="fileImage" class="hidden" style="width: 50%;height: 50%;"/>
				              		<output id="result" />
				            	</div>
				          	</div>
		          		</div>
	          		</div>
        		</div>
	        </div>
          </div>
          
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="successMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="errorMsg"></label>
            </span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="modalSubmitBtn">Save</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!--  Create Advertisement Modal END -->
</body>
</html>