<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title>Login</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="dist/css/AdminLTE.min.css"/>
  	<link rel="stylesheet" href="dist/css/skins/_all-skins.min.css"/>
	<link rel="stylesheet" href="plugins/iCheck/flat/blue.css"/>
 	<link rel="stylesheet" href="plugins/morris/morris.css"/>
	
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
        <a href="index2.html" class="logo">
          <span class="logo-mini"><b>A</b>LT</span>
          <span class="logo-lg" th:text="${message}"></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
        </nav>
      </header>	
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12">
		&nbsp;
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="col-sm-3 col-md-3 col-lg-3">
			
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<div class="box box-info">
			       <div class="box-header with-border">
			       		<div class="row col-md-12 col-sm-12 col-lg-12">
			       			<div class="col-lg-6">
			       				<h3 class="box-title">Login Form</h3>
			       			</div>
			       			<div class="col-lg-6">
			       				<span class="form-group has-error">
			       					<h3 class="control-label box-title message has-error" for="inputError" th:text="${errorMsg}"></h3>
			       				</span>
			       			</div>
			       		</div>
			       </div><!-- /.box-header -->
			      <!-- form start -->
			      <form id="loginform" class="form-horizontal" method="post" onsubmit="Login.doLogin('USER'); return false;">
			        <div class="box-body">
			          <div class="form-group">
			            <label for="inputEmail3" class="col-sm-2 control-label">User Type</label>
			            <div class="col-sm-10">
			              <select name="userType" id="userType" class="form-control">
			              	<option value="">-- Select --</option>
			              	<option value="PUBLIC">PUBLIC</option>
			              	<option value="MERCHANT">MERCHANT</option>
			              	<option value="FRANCHISE">FRANCHISE</option>
			              </select>
			            </div>
			          </div>
			          <div class="form-group">
			            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
			            <div class="col-sm-10">
			              <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email"/>
			            </div>
			          </div>
			          <div class="form-group">
			            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			            <div class="col-sm-10">
			              <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password"/>
			            </div>
			          </div>
			          <div class="form-group">
			            <div class="col-sm-offset-2 col-sm-10">
			              <div class="checkbox">
			                <label>
			                  <input type="checkbox"/> Remember me
			                </label>
			              </div>
			            </div>
			          </div>
			        </div><!-- /.box-body -->
			        <div class="box-footer">
			          <button type="button" class="btn btn-default">Cancel</button>
			          <button type="submit" class="btn btn-info pull-right">Sign in</button>
			        </div><!-- /.box-footer -->
			      </form>
			    </div>
			</div>
			
			<div class="col-sm-3 col-md-3 col-lg-3">
			
			</div>
		</div>
	</div>
	
	<div th:include="footer"></div>
 	<script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
 	<script src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/services/login.js"></script>
</body>
</html>