<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base-css">
<!-- 	<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css"/> -->
</head>
<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css"/>
<body class="hold-transition skin-blue sidebar-mini">
	<div th:include="header"></div>
	<div th:include="left-side"></div>
	<div class="container-fluid content-wrapper">
		<div class="form-group">
			<h3 th:text="${title}" ></h3>
			<!--<div class="col-sm-6">
				<ul class="pagination pagination-sm">
					<li><a th:if="${prev != null}" th:href="'user?userType='+ ${pageUserType} +'&amp;page='+${prev}">Previous</a></li>
					<li><a th:if="${next != null}" th:href="'user?userType='+ ${pageUserType} +'&amp;page='+${next}">Next</a></li>
				</ul>
			</div>-->
			<div class="col-sm-6">
				 <button class="btn btn-primary btn-flat pull-right" data-toggle="modal" data-target="#userRegisterationModal"> <i class="fa fa-plus-circle"></i> Create New </button>
			</div>
		</div>
		<h5 th:text="${message}" ></h5>
		<div class="tab-pane active" id="tab_1" th:if="${userDetails} != null">
			<table id="userListTable" class="table table-striped">
				<thead>
					<tr>
						<th th:if="${userType == 'MERCHANT'}">Shop Name</th>
						<th>Owner</th>
						<th>Mobile</th>
						<th>Email</th>
						<th>Plan Name</th>
						<th align="right">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="userDetail : ${userDetails}">
						<td th:text="${userDetail.shopName}" th:if="${userType == 'MERCHANT'}"></td>
						<td th:text="${userDetail.user.name}"></td>
						<td th:text="${userDetail.user.mobile}"></td>
						<td th:text="${userDetail.user.email}"></td>
						<td th:text="${userDetail.user.plan} != null ? (${userDetail.user.plan.name}+' - '+${userDetail.user.plan.planType}) : ''"></td>
						<td align="right">
							<a title="View Sales" class="btn btn-xs btn-info btn-flat"
							   th:if="${currentUserType == 'SALES_MAN'}"
									th:href="'./sales?userId='+${userDetail.user.id}">
								<i class="fa fa-fw fa-trash"></i> View Sales
							</a>

							<button th:id="${userDetail.user.userType}" title="Edit"
								class="btn btn-xs btn-primary btn-flat" data-toggle="modal"
								data-target="#editUserModal"
								th:onclick="'User.findUserDetailById('+${userDetail.id}+')'">
								<i class="fa fa-fw fa-edit"></i> Edit
							</button>
								<button title="Delete" class="btn btn-xs btn-danger btn-flat" data-userid="" th:attrappend="data-userid=${userDetail.user.id}"
										data-toggle="modal" data-target="#confirmDelete" data-title="Delete User" data-message="Are you sure you want to delete this user ?"
								>
									<i class="fa fa-fw fa-trash"></i> Delete
								</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:include="footer"></div>
	<div th:include="base-js"></div>
	
	<!-- Edit user model start -->
	<div id="editUserModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Update User</h4>
          </div>
          <form id="editUserform" class="form-horizontal" action="javascript:void(0);" method="post" th:onsubmit="'User.updateUserDetail(this);'">
          <div class="modal-body">
	        <div class="box-body">
				<div class="form-group">
					<label for="id" class="col-sm-2 control-label">Shop Name</label>
					<div class="col-sm-10">
						<input type="hidden" name="id" class="form-control" id="editId"/>
						<input type="hidden" name="latitude" class="form-control" id="editLatitude"/>
						<input type="hidden" name="longitude" class="form-control" id="editLongitude"/>
						<input type="text" name="shopName" class="form-control" id="editShopName" placeholder="Name"/>
					</div>
				</div>
	         <div class="form-group">
	            <label for="editUserId" class="col-sm-2 control-label">Owner</label>
	            <div class="col-sm-10">
	            	<input type="hidden" name="user[id]" class="form-control" id="editUserId" placeholder="Name"/>
	              	<input type="text" name="user[name]" class="form-control" id="editName" placeholder="Name"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="editEmail" class="col-sm-2 control-label">Email</label>
	            <div class="col-sm-10">
	              <input type="email" name="user[email]" class="form-control" id="editEmail" placeholder="Email"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="editMobile" class="col-sm-2 control-label">Mobile</label>
	            <div class="col-sm-10">
	              <input type="text" name="user[mobile]" class="form-control" id="editMobile" placeholder="Mobile" disabled="disabled"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="editUserType" class="col-sm-2 control-label">User Type</label>
	            <div class="col-sm-10">
	            	<select name="user[userType]" class="form-control" id="editUserType">
	            		<option value="">--- Select ---</option>
	            		<option th:each="userType : ${userTypes}" th:value="${userType}" th:text="${userType}"></option>
	            	</select>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="editPlan" class="col-sm-2 control-label">Plan</label>
	            <div class="col-sm-10">
	            	<select name="user[plan][id]" class="form-control" id="editPlan">
	            		<option value="">--- Select ---</option>
	            		<option th:each="plan : ${plans}" th:value="${plan.id}" th:text="${plan.name}"></option>
	            	</select>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="editPassword" class="col-sm-2 control-label">Password</label>
	            <div class="col-sm-10">
	              <input type="text" name="user[password]" class="form-control" id="editPassword" placeholder="Password"/>
	            </div>
	          </div>
	        </div>
          </div>
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="successMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label col-md-12" for="inputError" id="updateErrorMsg"></label>
            </span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!-- Edit user model end -->
	
	<!-- Create new user model start -->
	<div id="userRegisterationModal" class="modal">
		<div class="modal-dialog" style="width: 85%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Create User</h4>
				</div>
				<div class="col-lg-6">
       				<span class="form-group has-error">
       					<label class="control-label box-title"><span id="errorMessage"></span></label>
       				</span>
       				<span class="form-group has-success">
       					<label class="control-label box-title"><span id="successMessage"></span></label>
       				</span>
       			</div>
				<div class="modal-body">
					<div class="box-body">
						<form id="registerMerchantForm" class="form-horizontal merchantForm" method="post">
							<div class="box-body">
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">User
											Type</label>
										<div class="col-sm-10">
											<select name="userType" id="userType" class="form-control" onchange="Register.changeRegisterForm($('#registerMerchantForm #userType').val())">
												<option value="">-- Select --</option>
												<option value="MERCHANT" selected="selected">MERCHANT</option>
												<option value="FRANCHISE">FRANCHISE</option>
												<option value="PUBLIC">PUBLIC</option>
												<option value="SALES_MAN">SALESMAN</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputName" class="col-sm-2 control-label">Name</label>
										<div class="col-sm-10">
											<input type="text" name="name" class="form-control"
												id="inputName" placeholder="Name" />
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail" class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
											<input type="email" name="email" class="form-control"
												id="inputEmail" placeholder="Email" />
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword" class="col-sm-2 control-label">Password</label>
										<div class="col-sm-10">
											<input type="password" name="password" class="form-control"
												id="inputPassword" placeholder="Password" />
										</div>
									</div>
									<div class="form-group">
										<label for="inputConfirmPassword" class="col-sm-2 control-label">Confirm
											Password</label>
										<div class="col-sm-10">
											<input type="password" name="confirmPassword"
												class="form-control" id="inputConfirmPassword"
												placeholder="Confirm Password" />
										</div>
									</div>
									<div class="form-group">
										<label for="inputMobile" class="col-sm-2 control-label">Mobile</label>
										<div class="col-sm-10">
											<input type="number" name="mobile" class="form-control"
												id="inputMobile" placeholder="Mobile" />
										</div>
									</div>
									<div class="form-group">
										<label for="inputState" class="col-sm-2 control-label">State</label>
										<div class="col-sm-10">
											<select name="state" id="inputState" class="form-control" onchange="Register.findAllCitiesByStateId($('#inputState').val());">
												<option th:each="state : ${states}" th:value="${state.id}" th:selected="${state.name} == 'Maharashtra'"
													th:text="${state.name}"></option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div class="form-group">
										<label for="inputCity" class="col-sm-2 control-label">District</label>
										<div class="col-sm-10">
											<select name="city" id="inputCity" class="form-control" onchange="Register.findAllTalukasByCityId($('#inputCity').val());">
												<option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputTaluka" class="col-sm-2 control-label">Taluka</label>
										<div class="col-sm-10">
											<select name="taluka" id="inputTaluka" class="form-control" onchange="Register.findAllVillagesByTalukaId($('#inputTaluka').val());">
												<option th:each="taluka : ${talukas}" th:value="${taluka.id}" th:text="${taluka.name}"></option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputVillage" class="col-sm-2 control-label">Village</label>
										<div class="col-sm-10">
											<select name="village" id="inputVillage" class="form-control">
												<option th:each="village : ${villages}" th:value="${village.id}" th:text="${village.name}"></option>
											</select>
										</div>
									</div>
									<div class="" id="shopDetailContainer">
										<div class="form-group">
											<label for="inputShopName" class="col-sm-2 control-label">Shop
												Name</label>
											<div class="col-sm-10">
												<input type="text" name="shopName" id="inputShopName"
													class="form-control" placeholder="Shop Name" />
											</div>
										</div>
										<div class="form-group">
											<label for="inputAddress" class="col-sm-2 control-label">Shop
												Address</label>
											<div class="col-sm-10">
												<input type="text" name="address1" id="inputAddress"
													class="form-control" placeholder="Shop Address" />
											</div>
										</div>
										<div class="form-group">
											<label for="inputPhoneNumbers" class="col-sm-2 control-label">Shop
												Contact Number</label>
											<div class="col-sm-10">
												<input type="text" name="phoneNumbers" id="inputPhoneNumbers"
													class="form-control" placeholder="Shop Contact Number" />
											</div>
										</div>
										<div class="form-group">
											<label for="inputDescription" class="col-sm-2 control-label">Shop Description/Timing</label>
											<div class="col-sm-10">
												<textarea name="description" id="inputDescription"
													class="form-control" placeholder="Shop Description/Timing"></textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /.box-body -->
							<div class="box-footer pull-right">
								<button class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Register</button>
							</div>
							<!-- /.box-footer -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Create new user model end -->

	<script src="plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
	<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwelkrFN__LksGXcg-Sy_kWecvrEpFzvU&amp;sensor=false" defer="defer" async="async"></script>
	<script src="bootstrap-validator/js/bootstrapValidator.min.js"></script>
	<script src="scripts/services/register.js"></script>
	<script src="scripts/services/user.js"></script>
	<!-- Dialog show event handler -->
	<script type="text/javascript">
        $('#confirmDelete').on('show.bs.modal', function (e) {
            $message = $(e.relatedTarget).attr('data-message');
            $(this).find('.modal-body p').text($message);
            $title = $(e.relatedTarget).attr('data-title');
            $(this).find('.modal-title').text($title);

            var userid = $(e.relatedTarget).attr('data-userid');
            $(this).find('.modal-footer #confirmDeleteBtn').data('userid', userid);
            // Pass form reference to modal for submission on yes/ok
//            var form = $(e.relatedTarget).closest('form');
//            $(this).find('.modal-footer #confirm').data('form', form);
        });

        <!-- Form confirm (yes/ok) handler, submits form -->
        $('#confirmDelete').find('.modal-footer #confirmDeleteBtn').on('click', function(){
            //$(this).data('form').submit();
            User.deleteUser($(this).data('userid'));
        });
	</script>
</body>
</html>