<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base-css">
	<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css"/>
</head>
<body>
	<div th:include="header"></div>
	<div th:include="left-side"></div>
	<div class="container-fluid content-wrapper">
		<div class="">
			<div align="center">
				<h2 th:text="${title}" ></h2>
			</div>
			<div>
				 <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#userRegisterationModal">Create New</button>
			</div>
		</div>
		<div class="">
			<div class="box">
				 <table id="userTable" class="table table-bordered table-hover">
				 	<thead>
	                     <tr>
	                       <th>Name</th>
	                       <th>Email</th>
	                       <th>Mobile</th>
	                       <th>User Type</th>
	                       <th>Login State</th>
	                       <th>Action</th>
	                     </tr>
	                   </thead>
	                   <tbody>
	                   	<tr th:each="user : ${users}">
	                   		<td th:text="${user.name}"></td>
	                   		<td th:text="${user.email}"></td>
	                   		<td th:text="${user.mobile}"></td>
	                   		<td th:text="${user.userType}"></td>
	                   		<td th:text="${user.loginState}"></td>
	                   		<td>
	                   			<button title="Delete" class="btn btn-xs btn-danger" th:onclick="'User.deleteUser('+${user.id}+')'"><i class="fa fa-fw fa-trash"></i></button>
								<button title="Edit" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#modal" th:onclick="'User.findUserById('+${user.id}+')'"><i class="fa fa-fw fa-edit"></i></button>
	                   		</td>
	                   	</tr>
	                   </tbody>
				 </table>
			</div>
		</div>
	</div>
	<div th:include="footer"></div>
	<div th:include="base-js"></div>
	<script src="scripts/services/user.js"></script>
	
	<!-- Edit user model start -->
	<div id="modal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit User</h4>
          </div>
          <div class="modal-body">
    		<p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
	<!-- Edit user model end -->
	
	<!-- Create new user model start -->
	<div id="userRegisterationModal" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" th:text="${popupTitle}"></h4>
          </div>
          <form id="userRegisterform" class="form-horizontal" action="javascript:void(0);" method="post" th:onsubmit="'User.create(this);'">
          <div class="modal-body">
	        <div class="box-body">
	         <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
	            <div class="col-sm-10">
	              <input type="text" name="name" class="form-control" id="inputname" placeholder="Name"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
	            <div class="col-sm-10">
	              <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">Mobile</label>
	            <div class="col-sm-10">
	              <input type="text" name="mobile" class="form-control" id="inputMobile" placeholder="Mobile"/>
	              <input type="hidden" name="userType" class="form-control" id="userType" placeholder="UserType" value="PUBLIC"/>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputEmail3" class="col-sm-2 control-label">User Type</label>
	            <div class="col-sm-10">
	            	<select name="userType" class="form-control">
	            		<option value="">--- Select ---</option>
	            		<option th:each="userType : ${userTypes}" th:value="${userType}" th:text="${userType}"></option>
	            	</select>
	            </div>
	          </div>
	          <div class="form-group">
	            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
	            <div class="col-sm-10">
	              <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password"/>
	            </div>
	          </div>
	        </div>
          </div>
          <div class="modal-footer">
          	<span class="form-group has-success pull-left">
              <label class="control-label" for="inputSuccess" id="successMsg"></label>
            </span>
            <span class="form-group has-error pull-left">
              <label class="control-label" for="inputError" id="errorMsg"></label>
            </span>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          </form>	
        </div>
      </div>
    </div>
	<!-- Create new user model end -->
	
	
	
</body>
</html>